ENV_CDT_PORT=4003
NODE_ENV=development
ENV_CDT_BASE_PATH='/api/fs/bs/identityx'
ENV_CDT_DB_HOST=alsalam.database.windows.net
ENV_CDT_DB_USERNAME='Ad_Conduit'
ENV_CDT_DB_PASSWORD='Admin123456'
ENV_CDT_DB_DIALECT='mssql'
ENV_CDT_DB_NAME=Ad_Conduit
ENV_CDT_DB_PORT=1433
ENV_CDT_IDENTITY_X_HOSTNAME = 'emea.identityx-cloud.com'
ENV_CDT_IDENTITY_X_TANENT = aiondigital